{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'menubase.twig' %}
{% endblock %}

{% block header %}
  <div class="page-header">
    <h2 class="centrer isoler">Liste des personnes</h2>
  </div>
{% endblock %}

{% block section %}
    <div class="container">
    {% if personnes %}
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Id_personne</th>
                    <th>Pseudo_personne</th>
                    <th>Mdp_personne</th>
                    <th>Type_personne</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for personne in personnes %}
                <tr>
                    <td><a href="{{ path('montrePersonne', { 'id': personne.getIdPersonne }) }}">{{ personne.getIdpersonne }}</a></td>
                    <td>{{ personne.pseudopersonne }}</td>
                    <td>{{ personne.mdppersonne }}</td>
                    <td>{{ personne.typepersonne }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('montrePersonne', { 'id': personne.getIdPersonne }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('montrePersonne', { 'id': personne.getIdPersonne }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
       <p class="centrer">Aucune personne dans la base.</p>
    {% endif %}
        <p class="isoler"><a href="{{ path('personne_new') }}" class="btn btn-primary">Créer une nouvelle personne</a></p>
    </div>
{% endblock %}
