{% extends 'base.html.twig' %}

{% block title %}
	Magasinier | {{ titreOnglet }}
{% endblock %}

{% block menu %}
    {#{% if magasinier %}
        {% include 'menu_magasinier.twig' %}
    {% endif %}#}
    {% include 'magasinier/menu_magasinier.twig' %}
{% endblock %}

{% block header %}
    {#{% if magasinier %}#}
    <div class="page-header">
        <h2 class="centrer isoler">{{ titre }}</h2>
    </div>
    {#{% else %}#}
        {#<h1 class="centrer">Erreur 404 : Page introuvable.</h1>#}
    {#{% endif %}#}
{% endblock %}

{% block section %}
    {{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}