{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'client/menu_client.twig' %}
{% endblock %}

{% block header %}
{% endblock %}

{% block section %}
    <h2>Panier ID : {{ Panier.getIdPanier() }} </h2>
    
    <div class="container-fluid">
    <div class="row">
    
    <div class="col-sm-4">
      <h4>Contenu du panier en cours :</h4>
      <table class="table table-striped " style="background-color:lightblue;">
  	    <thead>
          <tr>
            <th>ref</th>
            <th>nom</th>
            <th>qtt</th>
            <th>prix/unite</th>
          </tr>
        </thead>
        <tbody>
          {% for contenir in Contenir %}
    	    <tr>
              <td>{{ contenir.getRefProduit() }}</td>
              {% for produit in Produit %}
              {% if produit.getRefProduit() == contenir.getRefProduit() %}
                <td>{{ produit.getNomProduit() }}</td>
              {% endif %}
              {% endfor %}
              <td>{{ contenir.getQuantiteProduit() }}</td>
              {% for produit in Produit %}
              {% if produit.getRefProduit() == contenir.getRefProduit() %}
                <td>{{ produit.getPrixProduit() }}</td>
              {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a type="button" class="btn btn-warning " href="{{ path('validate_panier_client', { id_panier : Panier.getIdPanier() }) }}">Valider panier</a> 
      <a type="button" class="btn btn-danger" href="{{ path('delete_panier_client', { id_panier : Panier.getIdPanier() }) }}">Supprimer panier</a>
    </div>
    
    
    
    <div class="col-sm-8">
    <h4>Contenu du catalogue :</h4>
	<table class="table table-striped " style="background-color:lightgrey;">
  	  <thead>
      <tr>
        <th>ref</th>
        <th>nom</th>
        <th>description</th>
        <th>categorie</th>
        <th>prix</th>
        <th>date peremption</th>
        <th>qtt</th>
        <th>Ajout panier</th>
      </tr>
    </thead>
    <tbody>
    {% set cpt=0 %}
    {% for produit in Produit %}
      {% set cpt = cpt+1 %}
      {% if produit.getVisibleProduit() == 1 %}
	    <tr>
          <td>{{ produit.getRefProduit() }}</td>
          <td>{{ produit.getNomProduit() }}</td>
          <td>{{ produit.getDescriptionProduit() }}</td>
          <td>{{ produit.getCategorieProduit() }}</td> 
          <td>{{ produit.getPrixProduit() }}</td>
          <td>{{ produit.getDatePeremptionProduit() | date("d/m/Y")}}</td>
          <td>
            <input type="number" id="qtt{{ cpt }}" value="1"></input>
          </td>
          <td>
            <a type="button" id="btnAdd{{ cpt }}" class="btn btn-default btn-sm" onclick="confirme('{{ cpt }}','{{ produit.getRefProduit() }}','{{ Panier.getIdPanier() }}')">{% set qtt %}3{% endset %}Ajouter</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  
  </div><!-- fin row -->
  </div><!-- fin container -->
  
  
  <script>
  function confirme(cpt,ref,id_panier){
	var qtt = $("#qtt"+cpt).val();
    //alert("cpt="+cpt+" ref="+ref+" idpanier="+id_panier+" qtt="+qtt);
    
    //on recupere l'url
   	var str = location.href;
   	var lgth = str.length;

   	//on recupere la partie de l'url devant(ou pas) contenir "creation_panier"
   	var test = str.substring(lgth-15, lgth);
   	var res = str.substring(0, lgth-15);

    //on test et on modifie en consequence
   	if(test.localeCompare("creation_panier")==0)
   	  res += "ajout_panier/"+id_panier+"/"+ref+"/"+qtt;
    else{
      res = str.substring(0, lgth-(lgth-str.indexOf("/client")));
      res += "/client/ajout_panier/"+id_panier+"/"+ref+"/"+qtt;
    }

    //redirection sur l'url finale
    document.location.href = res;
   
  }
  
  </script>
{% endblock %}

{% block footer %}
{% endblock %}







