{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'client/menu_client.twig' %}
{% endblock %}

{% block header %}
{% endblock %}

{% block section %}
    <h2>Liste des produits : </h1>
	<table class="table table-striped ">
  <thead>
    <tr>
      <th>ref</th>
      <th>nom</th>
      <th>description</th>
      <th>categorie</th>
      <th>qtt</th>
      <th>prix</th>
      <th>date peremption</th>
    </tr>
  </thead>
  <tbody>
  {% for produit in Produit %}
    {% if produit.getVisibleProduit() == 1 %}
	  <tr>
        <td>{{ produit.getRefProduit() }}</td>
        <td>{{ produit.getNomProduit() }}</td>
        <td>{{ produit.getDescriptionProduit() }}</td>
        <td>{{ produit.getCategorieProduit() }}</td>
        <td>{{ produit.getQuantiteProduit }}</td>
        <td>{{ produit.getPrixProduit() }}</td>
        <td>{{ produit.getDatePeremptionProduit() | date("d/m/Y")}}</td>
      </tr>
    {% endif %}
  {% endfor %}

  </tbody>
</table> 
{% endblock %}

{% block footer %}
{% endblock %}
